<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="laoban/daka/add">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dakatime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dakatime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[dakatime]" type="text" value="{:date('Y-m-d H:i:s')}" readonly="readonly" disabled="disabled">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Typelist')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-typelist" data-rule="required" class="form-control selectpicker" name="row[typelist]" disabled="disabled" readonly="readonly">
                {foreach name="typelistList" item="vo"}
                    <option value="{$key}" {in name="key" value="$typelist"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
 

    <div class="form-group layer-footer">
        <input type="hidden" name="row[typelist]" id="" value="{$typelist}" />
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">立即打卡</button>
        </div>
    </div>
</form>
