<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Year')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-year" class="form-control" name="row[year]" type="number" value="{$row.year|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month" class="form-control" name="row[month]" type="number" value="{$row.month|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Needday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-needday" class="form-control" name="row[needday]" type="number" value="{$row.needday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shijiday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shijiday" class="form-control" name="row[shijiday]" type="number" value="{$row.shijiday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chidaoday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-chidaoday" class="form-control" name="row[chidaoday]" type="number" value="{$row.chidaoday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Choukaday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-choukaday" class="form-control" name="row[choukaday]" type="number" value="{$row.choukaday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zaotuiday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zaotuiday" class="form-control" name="row[zaotuiday]" type="number" value="{$row.zaotuiday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qingjiaci')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qingjiaci" class="form-control" name="row[qingjiaci]" type="number" value="{$row.qingjiaci|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qingjiaday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qingjiaday" class="form-control" name="row[qingjiaday]" type="number" value="{$row.qingjiaday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remake')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remake" class="form-control" name="row[remake]" type="text" value="{$row.remake|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
